  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    color: #1b1f3d;
    background: #fff;
    font: medium/1.4 Helvetica, Arial, sans-serif;
    font-size: 1em;
  }
      
  body {
    margin: 0 auto;
    padding: 1em;
    max-width: 1020px;
  }
      
  h1 {
    font-weight: normal;
    font-size: 3em;
    margin: 5px 0 15px;
    background: url(../images/logo.png) no-repeat;
    height: 80px;
    text-indent: -99999px;
    overflow: auto;
    padding-bottom: 15px;
    float: left;
    width: 405px;
  }
      
  h1 strong {
    color: #325750;
  }
  
  nav {
    clear: both;
  }

  nav ul {
    margin: 0;
    padding: 0;
    background-color: #125670;
    overflow: auto;
  }

  nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #125670;
    color: #fff;
    float: left;
    text-transform: uppercase;
    font-size: 0.8em;
    border-right: 1px solid #fff;
    width: auto;
    position: relative;
    top: 1px  ;
    height: 32px;
    -webkit-transition: height 0.5s, background-color 0.3s, font-size 0.3s, top 0.3s;
    transition: height 0.5s, background-color 0.3s, font-size 0.3s, top 0.3s;
  }

  a {

  }

  nav li a:link,
  nav li a:visited {
    color: #fff;  
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 8px 15px 4px;

    
  }

  nav li:hover {
    background: #e38e6e;
    cursor: pointer;
    font-size: 0.8em;
    top: -3px;
     z-index: 1;
  }

  address {
    font-style: normal;
    float: right;
    margin-top: 2%;
    font-size: 1.2em;
    text-align: right;
  }
  
  h2 {
    margin: 0;
    padding:0;
  }

  p {
    font-style: normal;
    font-size: 1em;
  }
      
  div {
    background: #ffffff;
    padding: 0.5em 1em;
    margin-top: 2em;
    margin-right: 420px;
  }
      
  .box {
    background: #e1c385;
    padding: 0.8em 1.6em;
    margin: 0 400px 2em 0;
  }
      
  iframe {
    margin-top: 0;
    float: right;
  }
      
  img {
    border: 0;
    margin-right: 2em;
  }

  @media all and (max-width: 820px) {
    iframe {
      display: none;
    }
    
    .box {
      margin-right: 0;
    }

    h1, address {
      float: none;
      text-align: left;
      margin-bottom: 5px;
    }

  }
