  <nav>
    <ul>
      <li>
        <a href="{{site.baseurl }}">Overview</a>
      </li>
      <li>
        <a href="{{site.baseurl }}hackday/">Hack Day</a>
      </li>
      <li>
        <a href="{{site.baseurl }}posters/">Posters</a>
      </li>
      <li>
        <a href="http://altmetricsconf.wordpress.com/">Blog</a>
      </li>
      <li>
        <a href="{{site.baseurl }}schedule/">Schedule</a>
      </li>
        <li>
        <a href="{{site.baseurl }}registration/">Registration</a>
      </li>
      <li>
        <a href="{{site.baseurl }}accommodation_travel/">Travel</a>
      </li>
      <li>
        <a href="{{site.baseurl }}organising_committee/">Organisers</a>
      </li>
    </ul>
  </nav>
