  <nav>
    <ul>
      <li>
        <a href="{{site.baseurl }}">Conference Overview</a>
      </li>
      <li>
        <a href="http://altmetricsconf.wordpress.com/">Blog</a>
      </li>
      <li>
        <a href="{{site.baseurl }}schedule/">
          Schedule
        </a>
      </li>
      <li>
        <a href="{{site.baseurl }}posters/">Posters</a>
      </li>
      <li>
        <a href="{{site.baseurl }}registration/">Registration</a>
      </li>
      <li>
        <a href="{{site.baseurl }}accommodation_travel/">Accommodation and Travel</a>
      </li>
      <li>
        <a href="{{site.baseurl }}organising_committee/">Organising Committee</a>
      </li>
    </ul>
  </nav>
