
    {% include header.html %}
    {% include nav.html %}
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2482.3038801176735!2d-0.13418599999999997!3d51.525985999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xed51ac6f865b038a!2sWellcome+Collection!5e0!3m2!1sen!2suk!4v1403258451911" width="400" height="500" frameborder="0" style="border:0"></iframe>
    <div class="box">

        <h2>Accommodation and travel</h2>

        <p>
            The conference is being held in the Henry Wellcome Auditorium of the Wellcome Collection, 183 Euston Road, London.
        </p>

        <p>The nearest Network Rail and London Underground Stations are:</p>
        <ul>
            <li>Euston</li>
            <li>Euston Square</li>
            <li>King’s Cross St. Pancras</li>
        </ul>

        <p>
            Warren Street, Goodge Street and Russell Square are also nearby.
        </p>

        <!-- <figure id="tube-map">    
        <img src="{{ site.baseurl }}images/tube-map.png"alt="Tube Map"></figure>
    -->
                    <h3>Hotels</h3>

     <p>
                        Nearby recommended hotels (within a 10 minute walk of the Wellcome Collection):
                    </p>
    <table id="accommodation-table">

        <tbody>
           
            <tr>
                <td>
                    <p> <strong>Ambassador’s Bloomsbury <br />(4 Star)</strong>
                        <br/>    
                        5 Minute Walk (0.2 miles)
                        <br/>    
                        <a href="http://www.ambassadors.co.uk/">www.ambassadors.co.uk</a>
                    </p>

                </td>

                <td>
                    <p> <strong>Hilton London Euston Hotel <br />(4 Star)</strong>
                        <br/>    
                        5 Minute Walk (0.2 miles)
                        <br/>    
                        <a href="http://www.placeshilton.com/london-euston">www.placeshilton.com/london-euston</a>
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    <p>
                        <strong>Hotel ibis London Euston St Pancras <br />(3 Star)</strong>
                        <br/>    
                        4 Minute Walk (0.2 miles)
                        <br/>    
                        <a href="http://www.ibis.com/London-hotels">www.ibis.com/London-hotels</a>
                    </p>
                </td>

                <td>

                    <p>
                        <strong>Premier Inn London Euston <br />(2 Star)</strong>
                        <br/>    
                        2 Minute Walk (0.2 miles)
                        <br/>    
                        <a href="http://www.premierinnfinder.com/Euston">www.premierinnfinder.com/Euston</a>
                    </p>

                </td>

            </tr>

            <tr>
                <td>
                    <p>
                        <strong>Hotel Pullman London St Pancras <br />(4 Star)</strong>
                        <br/>    
                        6 Minute Walk (0.3 miles)
                        <br/>    
                        <a href="http://www.pullmanhotels.com/St-Pancras">www.pullmanhotels.com/St-Pancras</a>
                    </p>
                </td>

                <td>

                    <p>
                        <strong>St. Pancras Renaissance Hotel <br />(5 Star)</strong>
                        <br/>    
                        9 Minute Walk (0.4 miles)
                        <br/>    
                        <a href="http://www.marriott.co.uk/hotels/travel/lonpr-st-pancras">www.marriott.co.uk</a>
                    </p>
                </td>

            </tr>

            <tr>
                <td>
                    <p>
                        <strong>Meliá White House <br />(4 Star)</strong>
                        <br/>    
                        10 Minute Walk (0.5 miles)
                        <br/>    
                        <a href="http://www.melia-white-house.melia.com/">www.melia-white-house.melia.com</a>
                    </p>

                </td>

                <td></td>

            </tr>

        </tbody>

    </table>

    </div>
    {% include footer.html %}