
    {% include header.html %}
    {% include nav.html %}


    
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2482.3038801176735!2d-0.13418599999999997!3d51.525985999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xed51ac6f865b038a!2sWellcome+Collection!5e0!3m2!1sen!2suk!4v1403258451911" width="400" height="500" frameborder="0" style="border:0"></iframe>
    <div class="box">

      <h2>Accoomodation and travel</h2>

      <h3>
      	By Train
      </h3>
      <p>
		Place holder for text        
      </p>

      <h3>
      	By Plane
      </h3>
      <p>
		Place holder for text        
      </p>

   	  <h3>
      	By Carriot
      </h3>
      <p>
		Place holder for text        
      </p>
    </div>

    {% include footer.html %}


