
    {% include header.html %}
    {% include nav.html %}
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2436.75781138082!2d4.9518701000000105!3d52.3566777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c60943849abc4f%3A0x2604d7fd642ac8fc!2sScience+Park+123%2C+1098+XG+Amsterdam%2C+Netherlands!5e0!3m2!1sen!2suk!4v1441116721873" width="600" height="450" frameborder="0" style="border:0"></iframe>
    <div class="box">

       

        <h2>Accommodation and travel</h2>

        <p>
            The conference is being held at the <a href="http://www.amsterdamsciencepark.nl/">Amsterdam Science Park</a>  - please see below for directions and suggested hotels. <br><br> Amsterdam Science Park is the largest hub in Europe for science education, research and entrepreneurship for ICT, advanced instrumentation and sustainable businesses.
        </p>

        <h3>Directions to Amsterdam Science Park</h3>
        <p>Amsterdam Science park is easily accessed via a range of public transport:</p>
        
            
              
            <dt><strong>By train</strong></dt><dt>Four times an hour a train leaves from Amsterdam Central station or Almere/Zwolle station to station Amsterdam Science Park.<br>

<br><a href="http://www.ns.nl/reizigers/reisinformatie/stationsvoorzieningen/stations/a/amsterdam-science-park#vertrekstaten">Timetables Amsterdam Science Park Station</a><br>
<a href="http://www.ns.nl/">Trainplanner NS</a></dt><br>

<strong>By subway</strong></dt><dt>Amsterdam Amstel, bus 40 or 240</dt><br>

<strong>By tram</strong></dt><dt>From Amsterdam CS tram 9 direction Diemen
Change at stop Kruislaan to bus 40</dt><br>

<strong>By bus</strong></dt><dt>40 from stations Amsterdam Muiderpoort and Amsterdam Amstel<br>
Spitsbus 240 only from Amsterdam Amstel</dt><br>

Timetables of bus 40 and 240 can be found on the <a href="http://maps.gvb.nl/haltes">website of GVB</a></li></ul><br><br>
   <h3>Hotels</h3>

     <p>
                        The following hotels are recommended for conference attendees, please contact them directly to make a reservation:
                        <ul><li><a href="http://www.thebridgehotel.nl/en/index.html">Bridge Hotel</a></li>
                            <li><a href="http://www.hotel-parklane.nl/cfm/show.cfm?id=1116">Hotel Parklane</a></li>
                            <li><a href="http://www.hotelrembrandt.nl/">Hotel Rembrandt</a></li>
                            <li><a href="http://www.amsterdamtropenhotel.com/en">Tropen Hotel</a></li>
                            <li><a href="http://www.edenhotelamsterdam.com/en">Eden Amsterdam Hotel</a></li>
                            <li><a href="http://www.edenlancasterhotel.com/en/">Eden Lancaster Hotel</a></li>
                            <li><a href="http://www.hampshire-hotels.com/en/hampshire-hotel-the-manor-amsterdam">Eden Manor Hotel</a></li>
                            <li><a href="http://www.hotelcasa400.nl/en/index.htm">Casa 400</a></li>


                    </p>
    

    </div>
    {% include footer.html %}