{% include header.html %}
{% include nav.html %}

<h2>Project Funding</h2>
<p><ins><strong>Update:</strong> The deadline has been extended to 6th November.</ins></p>

<p>Have you been inspired by the altmetrics discussion at the #1amconf and on Twitter over the last few days? Or do you know of some researchers who were already starting to get interested in the wider impact of their work, and want to find out more about it? </p>

<p>With the generous support of Thomson Reuters we are pleased to announce an open call for applications for project funding for workshops, research, or other similar activities in the altmetrics space.</p>

<p>For example, you might want to:</p>

<ul>
  <li>Run a session for your post-grads to demonstrate how altmetrics can help them identify how the articles they are reading were more widely received (so need funding for refreshments, materials, promotion etc)</li>
  <li>Send a member of your team to a conference with a strong altmetrics theme</li>
  <li>Do some research yourself (or support others) into what you can find out about a given set of publications, or indeed conduct a study with a broader scope</li>
</ul>

<p>These are just a few ideas – we want to hear about the things you want to do, and hope that the funding on offer will be able to support the development of these where otherwise there might not be budget.</p>

<p>We’ll be taking applications until <b>6th November 2014</b> – to submit your project or research funding request please email <a href="mailto:altmetricsconf@gmail.com">altmetricsconf@gmail.com</a>, and include details of:</p>

<ul>
  <li>You, and your organization</li>
  <li>What you would like to use the money for,  and how much you think you would need</li>
  <li>A timeframe for your project</li>
  <li>The outcomes (perhaps a write up of your workshop, a poster presentation or talk at a conference)</li>
</ul>

<p>We’ll review the proposals and notify the selected applicants by mid-November.</p>

{% include footer.html %}
