    {% include header.html %}
    {% include nav.html %}


<h2>Hack Day</h2>
<p> Taking place on October 6, the day before the main 2:AM conference starts, the 2:AM hackathon is an unique opportunity to build cool prototypes using altmetrics tools and APIs, and to discuss relevant topics in a more informal setting.</p>

<p>We will set the program for the day in the morning, and will then work in small groups on a number of topics. While the focus of the hackday is on developing software, anyone can attend, and there will be an interesting program for those new to software development:

<ul>
  <li><strong>Introduction to Altmetric.com </strong>(Stacy Konkiel)<br>
Hands-on session using the various services Altmetric.com offers.</li>

  <li><strong>R for Bibliometrics</strong> (Najko Jahn and Martin Fenner)<br>
Introductory session learning to use the R statistical computing and graphics language to analyze bibliometrics data.</li></ul>
</p>

<p>There is room for 1-2 more sessions, please contact <a href="mailto:martin.fenner@datacite.org">Martin Fenner</a> if you are interested organizing one.</p>

<p>Please register below (free) if you are planning to attend the hack day:</p>

<div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=18511450246&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Powered by Eventbrite</a></div></div>

{% include footer.html %}
