{% include header.html %}
{% include nav.html %}


    <div class=" " id="home-intro">
      <h2>
        Announcing the 2<sup>nd</sup> Altmetrics Conference: Amsterdam<br>
      </h2>
      <p>
        To follow the successful first annual altmetrics conference, 1:AM (London), 2:AM will be held in Amsterdam on October 7-8th 2015.  
      </p>
      <p>
        Join us at this year’s meeting to continue discussions on all things altmetrics, where we'll build on the themes and ideas of last year. 

      <p>There'll be lots happening, including a hack day ahead of the main event. The 2:AM conference will be held in concert with the altmetrics research conference, altmetrics15 (Oct 9) to further collaboration and cross-pollination between research and practice - more details can be found on their <a href="http://altmetrics.org/altmetrics15/">webpage</a> 

      </p>
      <h3>**Update**</h3>
      <p>The call for presentations for the 2:AM conference is now open - <a href="http://www.altmetricsconference.com/schedule/">click here</a> for futher details and to submit your ideas. </p>
           


    </div>
 <a class="twitter-timeline" href="https://twitter.com/2AMconf" data-widget-id="490111393509568512">Tweets by @2AMconf</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
 
    {% include footer.html %}


