{% include header.html %}
{% include nav.html %}


    <div class=" " id="home-intro">
      <h2>
        2<sup>nd</sup> Altmetrics Conference: Amsterdam<br>
      </h2>
      <p>The altmetrics conference is over for another year!
        Thank you to all who attended (either in person or remotely) and contributed to a fun and thought-provoking few days.</p>
        <p>We’re busy getting our thoughts together and will be soliciting your feedback shortly.</p>

<p>In the meantime, catch up on anything you missed on <a href="https://twitter.com/2amconf">Twitter</a> at <a href="https://twitter.com/search?q=%232amconf&amp;src=typd">#2amconf</a>, recap the sessions via our <a href="https://www.youtube.com/user/altmetricsconference">YouTube channel</a> and take a look at the write ups from our guest contributors on the <a href="https://altmetricsconf.wordpress.com/">2:AM blog</a>.</p>
           


    </div>
 <a class="twitter-timeline" href="https://twitter.com/2AMconf" data-widget-id="490111393509568512">Tweets by @2AMconf</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
 
    {% include footer.html %}


