

    {% include header.html %}
    {% include nav.html %}


    
    
    <div class=" ">
      <h2>
        Announcing the 1<sup>st</sup> Altmetrics Conference: London<br>
      </h2>
      <p>
        As scholarly communication evolves, alternative measures of impact and reach
        are taking an increasingly important role in the research evaluation process.
        Following a number of constructive workshops over the last few years, we now
        invite you to join us this September for the 1st Altmetrics Conference: London.
      </p>
      <p>
        We will be taking a closer look at how authors, readers, funders, publishers
        and institutions are beginning to integrate altmetrics into their scholarly
        communication processes &mdash; and the challenges that they face along the way.
      </p>
      <p>
        With a quick overview of recent developments and future plans, we will aim to
        better understand how and why altmetrics can be of use to the community &mdash; and
        draw further inspiration from those outside academia.
      </p>
      <p>
        Additionally, the scope of the workshop will expand to examine online behaviour
        at a more granular level; how and why do people share and discuss scholarly content online, and what is the impact of this?
      </p>
      
    </div>

    {% include footer.html %}


