
    {% include header.html %}
    {% include nav.html %}


<h2>Organising committee</h2>

<p>
This conference has been organised with input from:<br/>
<br/>
Adam Dinsmore, Wellcome Trust<br/>
Kevin Dolby, Wellcome Trust<br/>
Martin Fenner, DataCite<br/>
Jennifer Lin, CrossRef<br/>
Euan Adie, Altmetric <br/>
Ian Mulvany, eLife<br/>
Mike Taylor, Elsevier Labs<br/>
Martijn Roelandse, Springer<br/>
Cat Chimes, Altmetric <br/>
<br/>
Many thanks to all who contributed for their time and efforts, and to <a href="https://www.digital-science.com/people/mustafa-kurtuldu">Mustafa Kurtuldu</a> at  <a href="https://www.digital-science.com/">Digital Science</a> for the original build of this website. 
<br> Particular thanks goes to our sponsors, and to the Dutch National Research Organisation (NWO) in recogniition of their generous support and provision of the venue for the 2015 event. 


<br/><br/>
If you have any questions about the conference, please get in touch <a href="mailto:altmetricsconf@gmail.com">altmetricsconf@gmail.com</a>
</p>


    {% include footer.html %}

