
    {% include header.html %}
    {% include nav.html %}


<h2>Posters</h2>

<p>
We would like to invite anyone who wishes to share their experience in the altmetrics or research communication space to bring along a poster showcasing their experience. This is intended to be very informal; the idea is to get people talking and share ideas. 
</p>

<p>Perhaps you have</p>
<ul>
<li>Run a workshop to encourage your faculty to share their research online?</li>
<li>Worked with the communications office to highlight a particular piece of work?</li>
<li>Included altmetrics data in your marketing campaigns?</li>
</ul>
<p>
We’d love to hear about it all! Posters will be displayed in the refreshment area for viewing during breaks and the drinks reception. 
</p>
<p>
If you’d like to bring one along please fill in the form below.
</p>	




    {% include footer.html %}

