{% include header.html %}
{% include nav.html %}

<div>

  <h2>Posters and demos</h2>

  <p>We’d like to invite anyone interested to bring along a poster for display or laptop to demo their latest developments. Time will be made available for conferences attendees to view and ask questions about these during the Tuesday lunch break.</p>
  <p>We’ll provide tape/pins to hang them up with. Any equipment needed for demos (laptops etc) should be provided by you.</p>
  <p>If you like to bring a poster or demo something, please give us a few details below by the 30th of September so we can make sure we allocate space accordingly.</p>

  <iframe src="https://docs.google.com/forms/d/1U5xdETm34g-ysRs0I-rBIl-6MzwoeF_Dd5bR7LZu4f8/viewform?embedded=true" width="990" height="1080" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    

</div>
{% include footer.html %}
