{% include header.html %}
{% include nav.html %}

<div>

  <h2>Posters and demos</h2>

  <p>Click on the links below to view the posters that were showcased at the 2:AM conference in Amsterdam: </p>
  <ul>
  <li><a href="http://figshare.com/articles/Altmetric_for_ORCID_2amconf_version/1566701">Altmetric for ORCID</a> - Keita Bando</li>
  <li><a href="https://data.mendeley.com/datasets/47y8drx8bk/1">Why Elsevier is taking a new approach to article and alternative metrics</a> - Michael Habib</li>
 <li><a href="http://figshare.com/articles/Altmetrics_vs_Impact_factor_how_to_measure_public_involvement_with_health_research/1579454">Altmetrics vs Impact factor: how to measure public involvement with health research</a> - Valeria Scotti</li>
 <li><a href="http://figshare.com/articles/Engineers_Don_t_Blog_and_Other_Stories_why_Scopus_uses_subject_area_benchmarking_/1568135">Engineers don't blog and other stories (why Scopus uses subject area benchmarks)</a> - Mike Taylor</li>


</div>
{% include footer.html %}
