{% include header.html %}
{% include nav.html %}

<h2>Join in</h2>
<p>Registration for the conference has now closed, but you can still follow the event and interact with us as it happens via our online channels:</p>

<ul>
  <li><a href="http://altmetricsconf.wordpress.com/">Conference blog</a></li>
  <li><a href="https://twitter.com/1amconf">Our Twitter feed</a> (hashtag is #1amconf)</li>
  <li><a href="https://www.youtube.com/user/altmetricsconference">Watch the live stream of each session</a></li>
</ul>

<p>Recordings and photos will be available after the event.</p>

{% include footer.html %}
