
    {% include header.html %}
    {% include nav.html %}


<h2>Register</h2>

<p>
	Delegate registration for the conference has now sold out.
</p>
<p>
Please use the order form to add yourself to the waiting list - we will be in touch if tickets become available.
</p>
<p>
Alternatively, plans are in place to live stream the conference, details of which will be made available at a later date.
</p>

<div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.co.uk/tickets-external?eid=12275222521&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk/r/etckt">Online Ticketing</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.co.uk/e/1am-london-tickets-12275222521?ref=etckt">1:AM London</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk?ref=etckt">Eventbrite</a></div></div>

    {% include footer.html %}

