{% include header.html %}
{% include nav.html %}

<h2>Join in</h2>
<p>Registration for the conference has now closed, but you can still follow the event and interact with us as it happens via our online channels:</p>

<ul>
  <li><a href="http://altmetricsconf.wordpress.com/">Conference blog</a></li>
  <li><a href="https://twitter.com/1amconf">Our Twitter feed</a> (hashtag is #1amconf)</li>
  <li><a href="https://www.youtube.com/user/altmetricsconference">Watch the live stream of each session</a></li>
</ul>

<p>Recordings and photos will be available after the event.</p>

<h2>Hack day</h2>
<p>The day before the conference, we'll be running a hack day at the <a href="http://se.macmillan.com/Contact-Us/Locations/Locations/">Macmillan Campus in King's Cross</a>, open to anyone who wants to get involved.</p>
<p>You can <a href="https://www.eventbrite.co.uk/e/1am-hack-day-tickets-13221151821">register to attend</a> and read <a href="http://altmetricsconf.wordpress.com/2014/09/15/hackday/">more details on our blog</a>.</p>

{% include footer.html %}
