{% include header.html %}
    {% include nav.html %}
<h2>Session details</h2>

<div id="sessions-details">
	<h3>
		Day 1 - <strong>Thursday 25 <sup>th</sup>
			2014</strong> 
	</h3>
	<hr/>

	
	<p><a name="day1-opening"></a>
		9:30 - 9:45
		<br/> <strong>Conference opening</strong>
		<br/>
		Jeremy Farrar, Director of the Wellcome Trust
	</p>
	<hr/>

	<p><a name="day1-session01"></a>
		9:45 - 11:00:
		<br/>
		<strong>Altmetrics in the last year and what’s on the roadmap</strong>
		<br/>
		<br/>
		To set the scene, representatives from all of the major altmetrics tools providers will give an update on their activities in the last year, an overview of where their focus now lies, and some insight into what is to come.
		<br/>
		<br/>

		<strong>Chair:</strong>
		Martin Fenner, Technical Lead Article Level Metrics, PLOS
		<ul>
			<li>Euan Adie, Founder, Altmetric</li>
			<li>Andrea Michalek, Co-founder and President, Plum Analytics</li>
			<li>
				Stacy Konkiel, Director of Marketing & Research, Impactstory
			</li>
			<li>PLOS</li>
			<li>David Sommer, Co-founder & Director, Kudos</li>
			<li>William Gunn, Head of Academic Outreach, Mendeley</li>
			<li>OASPA</li>
		</ul>
	</p>

	<hr/>

	<p><a name="day1-session02"></a>
		11:15 - 12:30:
		<br/>
		<strong>How are people using altmetrics now?</strong>
		<br/>
		<br/>
		Invited speakers from across academia and the scholarly communication ecosystem will come together in this panel to give their take on how altmetrics are being used now, and the benefits and challenges of this.
		<br/>
		<br/>
		<strong>Chair:</strong>
		Ian Mulvaney, Head of Technology, eLife
		<ul>
			<li>Paul Needham, PIRUS</li>
			<li>Lisa Colledge, Senior Manager, Global Strategic Alliances</li>
			<li>
				Mike Thelwall, Professor of Information Science, and Kayvan Kousha, Researcher in webometrics and altmetrics at the Statistical Cybermetrics Research Group, University of Wolverhampto
			</li>
			<li>Other TBC</li>
		</ul>
	</p>
	<hr/>

	<p><a name="day1-session03"></a>
		13:15 - 14:30:
		<br/>
		<strong>What’s going on in the communication of research?</strong>
		<br/>
		<br/>
		At the core of altmetrics is the belief that every researcher is a communicator, and that increasingly their conversations are moving online. Our panelists will share and reflect on their own experiences, and discuss what the online landscape offers to them.
		<br/>
		<br/>
		<strong>Chair:</strong> Martijn Roelandse, Senior Editor at Springer Science+Business Media
		<ul>
			<li>
				Bjoern Brembs, Professor of Neurogenetics, Universität Regensburg
			</li>
			<li>Brian Wecht, Co-Founder of The Story Collider</li>
			<li>
				Renée Hlozek, Postdoctoral Research Fellow, Department of Astrophysics, Princeton University
			</li>
			<li>
				Alun Salt, Centre for Interdisciplinary Science, University of Leicester
			</li>
		</ul>
	</p>
	<hr/>

	<p><a name="day1-session04"></a>
		15:15 - 16:30:
		<br/>
		<strong>Impact assessment in the funding sector: the role of altmetrics</strong> 
		<br/>
		<br/>
		Funders are continually seeking to better understand the impact and reach of the research they fund, and in particular the audiences within those interactions. Altmetrics can potentially offer a valuable aid in collating such data. In this session key players from a variety of funding bodies in the UK will consider the implications of this.
		<br/>
		<br/>
		<strong>Chair:</strong> TBC
		<ul>
			<li>James Wilsdon, Chair of the HEFCE Steering Group on Metrics</li>
			<li>Adam Dinsmore, Evaluation Officer, Wellcome Trust</li>
			<li>
				Ruth Freeman, Director of Strategy & Communications, Science Foundation Ireland
			</li>
			<li>
				Liz Philpots, Head of Research, Association of Medical Research Charities
			</li>
		</ul>

	</p>
	<hr/>

	<p><a name="day1-session05"></a>
		16:30 - 17:30:
		<br/>
		<strong>Uses of metrics within institutions</strong>
		<br/>
		<br/>
		A group workshop session to facilitate discussion and consideration of how altmetrics are or perhaps should be used within institutions.
	</p>
	<hr/>

	<h3 style="margin-top: 40px;">
		Day 2 -
		<strong>
			Friday 26 <sup>th</sup>
			2014
		</strong>
	</h3>
	<hr/>

	<p><a name="day2-session01"></a>
		9:30 - 9:40:
		<br/>
		<strong>Introduction</strong>
		<br/>
		Timo Hannay, Managing Director, Digital Science
	</p>
	<hr/>

	<p><a name="day2-session02"></a>
		9:40 - 10:40:
		<br/>
		<strong>Altmetrics and publishers</strong>
		<br/>
		<br/>
		Many of the larger journal publishers have now incorporated altmetrics data into their platforms and are using the information to shape their marketing campaigns. Speakers in this session will present on the steps that their organisations have taken, and what they see as the most useful applications for the data.
		<br/>
		<br/>
		<strong>Chair:</strong>
		Kevin Dolby, Evaluation Advisor, Wellcome Trust
		<ul>
			<li>Hans Zijlstra, Senior Marketing Manager, Elsevier</li>
			<li>Speaker TBC, Springer</li>
			<li>Jennifer Lin, Senior Product Manager, PLOS</li>
			<li>Ruth Ivimey-Cook, Web Application Developer, eLife</li>

		</ul>

	</p>
	<hr/>

	<p><a name="day2-session03"></a>
		10:40 - 11:30:
		<br/>
		<strong>Lessons learnt</strong>
		<br/>
		<br/>
		We talk a lot about what’s working in altmetrics, but what about things that haven’t gone so well along the way? In this session we hear from two speakers who will give a candid account of the issues they have encountered in grappling with the data and developing useful altmetrics tools.
		<br/>
		<br/>
		<strong>Chair:</strong>
		Euan Adie, Founder, Altmetric
		<ul>
			<li>Geoff Bilder, Director of Strategic Initiatives, CrossRef</li>
			<li>Cameron Neylon, Director of Advocacy, PLOS</li>
		</ul>

	</p>
	<hr/>

	<p><a name="day2-session04"></a>
		11:45 - 12.45:
		<br/>
		<strong>Outside the article: tracking other research outputs</strong>
		<br/>
		<br/>
		Scholarly work comes in many forms beyond the published article, and no one has yet come up with a conclusive way of monitoring and capturing the attention that those other outputs receive. Our panelists will present their approach to better supporting these aspects of the research process.
		<br/>
		<br/>
		<strong>Chair:</strong>
		Mike Taylor, Research Specialist, Elsevier Labs
		<ul>
			<li>Sarah Callaghan, Chair, RDA Metrics working group</li>
			<li>Speaker TBC</li>
			<li>Speaker TBC</li>

		</ul>
	</p>
	<hr/>

	<p><a name="day2-session05"></a>
		13:30 - 14:00:
		<br/>
		<strong>NISO - update on standards</strong>
		<br/>
		<br/>
		In 2013 the US National Information Standards Organisation (NISO) launched an Alternative Metrics Initiative with the goal of exploring, identifying and advancing the standards of these new metrics and their role within the research evaluation process. Following the release of a white paper earlier this year, NISO Executive Director Todd Carpenter gives an update on progress so far.
		<br/>
		<br/>
		Todd Carpenter, Executive Director, NISO
	</p>
	<hr/>

	<p><a name="day2-session06"></a>
		14:00 - 15:00:
		<br/>
		<strong>Have we made progress? Where are we going?</strong>
		<br/>
		<br/>
		A group workshop session to review activity around altmetrics to date, and to propose ideas for future development.
	</p>
	<hr/>

	<p><a name="day2-session07"></a>
		15:45 - 16:45:
		<br/>
		<strong>Beyond academia: other groups</strong>
		<br/>
		<br/>
		Tracking, monitoring and evaluating impact is not a challenge unique to scholarly publishing. In this session invited speakers from will give us a different take on the concepts that led to the formation of ‘altmetrics’.
		<br/>
		<br/>
		<strong>Chair:</strong>
		TBC
		<ul>
			<li>
				Bobby Duffy, Managing Director, Ipsos Mori Social Research Institute
			</li>
			<li>James Baker, Social Media Manager, Food Standards Agency</li>
		</ul>

	</p>

</div>
{% include footer.html %}