{% include header.html %}
{% include nav.html %}
<h2>Schedule</h2>

<p>Submissions have been received for presentations on the following topics:
<ul>
	<li><b>Standards in altmetrics</b><br><p>Updates from groups working to establish standards in the collection, presentation, reporting of altmetric data.</p></li>
<li><b>Altmetrics in the library</b><br><p>As the role of libraries has expanded beyond the provision of paper journals and books to the provision of digital collections, the management of institutional repositories and into the development of curation skills, new assessment tools are required – can altmetrics and usage data help librarians provide the best service to their users?</p></li>
<li><b>Altmetrics as indicators of economic and social impact</b><br><p>Researchers and institutions are increasingly asked to provide evidence of the economic and social impact of their research; and metric providers are beginning to provide data in this area. This session discusses how they can extend their support of researchers looking to generate economic and social impact statements, going beyond the number of citations received by policy communications, mass media and patents.</p></li>
<li><b>How are people using altmetrics now?</b><br><p>Speakers from across academia and the scholarly communication ecosystem will come together in this panel to give their take on how altmetrics are being used now, and the benefits and challenges of this.</p></li>
<li><b>Altmetrics and open science</b><p>The altmetrics and open science movements each emerged from the migration of the academic literature from paper journals to the web, and have come to share many other parallels. This session will discuss the ways that altmetrics, open science, open data and open repositories have evolved together, and how altmetric indicators vary depending on the different degrees of accessibility.</p></li>
<li><b>Ethics, transparency, and cultural issues</b><br><p>The widespread adoption of altmetrics poses a number of ethical challenges for researchers, funders, institutions, and publishers alike. Over the last three years, there have been a number of contributions from people anxious to discuss issues such as gaming, self-promotion, the global and linguistic bias of alternative metrics and the ethics of making predictions of impact. This session will provide a series of presentations on this area.
</p></li>
<li><b>Beyond the article: tracking other research outputs</b><br><p>Scholarly work comes in many forms beyond the published article: data, code, posters, simulations, models and more. A theme of the last two years has been an increasing focus on how metric providers can detect and report on these non-traditional research outputs. Our panelists will present their approach to better supporting these aspects of the research process.</p></li></ul>
<p>A full schedule will be announced soon.</p><hr />

<h3>Keynote speaker Simon Singh announced</h3>
<p><a class="pull-right" href="http://simonsingh.net/"><img src="/images/simon.png" alt="" width="200" height="192"></a> <a href="http://simonsingh.net/">Simon Singh</a> will be presenting the keynote talk at this year's conference. Simon is a science writer and former TV producer, who joined the BBC in 1991. Before becoming a science journalist, he completed a PhD in particle physics at the University of Cambridge.</p>


<p>His talk, <b>Science Outreach - the good, the bad and the pointless</b> will look at the range of science outreach activities, and ask what sort of activities might have an impact, and which are a complete waste of time, money and effort.</p><br>

<p><i> Further details and a full schedule will be available in the next few months.</i></p>
{% include footer.html %}
