{% include header.html %}
{% include nav.html %}
<h2>Schedule</h2>

<div class='schedule-tabs'>
  <div class='schedule-tab'>
    <h3>Wednesday 7th October</h3>

    <table class='schedule-table'>
      <tr>
        <th>9:00 - 9:30</th>
        <td colspan='2'>Registration</td>
      </tr>
      <tr>
        <th>9:30 - 9:45</th>
        <td>Welcome to the conference</td>
        <td>Sander Dekker; Dutch State Secretary for the Ministry of Education, Culture and Science</td>
      </tr>
      <tr>
        <th>9:45 - 11:00</th>
        <td>Standards in altmetrics</td>
        <td>
          <strong>Chair: Geoff Bilder, CrossRef</strong>
          <br/>Zohreh Zahedi, CWTS-Leiden University
          <br/>Nettie Lagrace, NISO
        </td>
      </tr>
      <tr class='schedule-break'>
        <th>11:00 - 11:20</th>
        <td colspan='2'>Coffee break</td>
      </tr>
      <tr>
        <th>11:20 - 12:35</th>
        <td>Altmetrics in the library</td>
        <td>
          <strong>Chairs: Stacy Konkiel (Altmetric.com) &amp; Sarah Sutton (Emporia State University)</strong>
          <br/>Kristi Holmes, Director, Galter Health Sciences Library at Northwestern University, Feinberg School of Medicine
          <br/>Wouter Gerritsma, Deputy Librarian, Digital Services &amp; Innovation at VU University Library, Amsterdam
          <br/>Alenka Princic, Head of Research Support at Delft University of Technology Library
        </td>
      </tr>
      <tr class='schedule-break'>
        <th>12:35 - 13:35</th>
        <td colspan='2'>Lunch and poster viewing</td>
      </tr>
      <tr>
        <th>13:35 - 14:20</th>
        <td>Science outreach - the good, the bad, and the pointless (keynote)</td>
        <td>
          <strong>Chair: Simon Singh</strong>
        </td>
      </tr>
      <tr>
        <th>14:20 – 15:05</th>
        <td>Science outreach - the good, the bad, and the pointless (panel discussion)</td>
        <td>
          <strong>Chair: Simon Singh</strong>
          <br/>Neuroskeptic
          <br/>Lucy van Hilten
        </td>
      </tr>
      <tr class='schedule-break'>
        <th>15:05 - 15:25</th>
        <td colspan='2'>Coffee break</td>
      </tr>
      <tr>
        <th>15:25 - 16:40</th>
        <td>Altmetrics as indicators of economic and social impact</td>
        <td>
          <strong>Chair: Anup Kumar Das, Jawaharlal Nehru University</strong>
          <br/>Juan Pablo Alperin, Simon Fraser University
          <br/>Lauren Ashby, Associate Editor, SAGE Publications
          <br/>Prof Theng Yin Leng, Nanyang Technological University, Singapore
          <br/>Rodrigo Costas, CWTS-Leiden University
        </td>
      </tr>
      <tr>
        <th>16:30 - 17:40</th>
        <td>Workshop sessions</td>
      </tr>
      <tr class='schedule-break'>
        <th>17:40 - 19:00</th>
        <td colspan='2'>Drinks reception</td>
      </tr>
    </table>
  </div>


  <div class='schedule-tab'>

    <h3>Thursday 8th October</h3>

    <table class='schedule-table'>
      <tr>
        <th>9:30 - 9:45</th>
        <td colspan='2'>Introduction</td>
      </tr>
      <tr>
        <th>9:45 - 11:00</th>
        <td>How are people using altmetrics now?</td>
        <td>
          <strong>Chair: Andrea Michalek, Plum Analytics</strong>
          <br/>Andrew Beeken, Research Information Services Developer, University of Lincoln
          <br/>Chantelle Rijs, Network Project Lead, Frontiers
          <br/>Tuija Sonkkila, Leadership Support Services, Aalto University
        </td>
      </tr>
      <tr class='schedule-break'>
        <th>11:00 - 11:20</th>
        <td colspan='2'>Coffee break</td>
      </tr>
      <tr>
        <th>11:20 - 12:05</th>
        <td>Altmetrics and open science</td>
        <td>
          <strong>Chair: William Gunn, Mendeley</strong>
          <br/>David Walters, Open Access Officer, Brunel University
          <br/>Kim Holmberg, Research Unit for the Sociology of Education, University of Turku, Finland
        </td>
      </tr>
      <tr class='schedule-break'>
        <th>12:05 - 13:05</th>
        <td colspan='2'>Lunch and poster viewing</td>
      </tr>
      <tr>
        <th>13:05 - 13:50</th>
        <td>Altmetrics &amp; Research Evaluation</td>
        <td>
          <strong>Chair: Thed van Leeuwen, CWTS-Leiden University</strong>
          <br/>Barend van der Meulen, Rathenau Instituut
        </td>
      </tr>
      <tr>
        <th>13:50 – 15:05</th>
        <td>Beyond the article: tracking other research outputs</td>
        <td>
          <strong>Chair: Josh Borrow (Durham University), Pedro Russo (Leiden Observatory)</strong>
          <br/>Robin Haunschild, Scientist, Max Planck Institute for Solid State Research
          <br/>Sünje Dallmeier-Tiessen (CERN) &amp; Merce Crosas (Harvard University)
          <br/>Martin Fenner, DataOne
          <br/>Martijn Roelaandse, Manager Publishing Innovation, Springer
        </td>
      </tr>
      <tr class='schedule-break'>
        <th>15:05 - 15:25</th>
        <td colspan='2'>Coffee break</td>
      </tr>
      <tr>
        <th>15:25 - 16:40</th>
        <td>Altmetrics Manifesto: Five years on</td>
        <td>
          <strong>Chair: Jennifer Lin, CrossRef</strong>
          <br/>Cameron Neylon, Curtin University
          <br/>Dario Taraborelli, Wikimedia
          <br/>Jason Priem, Impact Story
          <br/>Paul Groth, Elsevier Labs
        </td>
      </tr>
      <tr class='schedule-break'>
        <th>16:40 - 17:00</th>
        <td colspan='2'>Conference wrap-up</td>
      </tr>
    </table>
  </div>
</div>
    

{% include footer.html %}
